
<div style="padding: 20px">
  <button mat-raised-button color="primary">Bounce and Shake</button>
  <h1>Bounce and Shake pour l'infini!</h1>
  <div style="height: 100px; width: 100px; background-color: aqua; margin: 20px; color: black"> Je veux bouger</div>
</div>

<div style="padding: 20px">
  <button mat-raised-button color="accent" [@shakeBounceFlip]="shakeBounceFlipNumber">Shake, Flip and Bounce</button>
  <h1>Shake, Flip and Bounce!</h1>
  <div [@shake]="shakeBounceFlipNumber" [@flip]="shakeBounceFlipNumber" [@bounce]="shakeBounceFlipNumber" style="height: 100px; width: 100px; background-color: fuchsia; margin: 20px; color: black"> Je veux aussi bouger</div>
</div>
